services:
  frontend:    
    dns:
      - 8.8.8.8
      - 1.1.1.1
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    environment:
      VITE_API_BASE_URL: /api
    depends_on:
      backend:
        condition: service_started

  backend:    
    dns:
      - 8.8.8.8
      - 1.1.1.1
    build:
      context: ./backend
    ports:
      - "5001:5001"
    environment:
      DATABASE_URL: postgresql://myuser:mypassword@db:5432/mydatabase
      JWT_SECRET: '8er3y2678etrb7326bte93r765etr356vre45r476e5r36e8r3796er673rt76'
      # FRONTEND_URL: https://0zfxt8b3-3000.asse.devtunnels.ms/
      FRONTEND_URL: http://localhost:3000
      EVALUATION_SERVICE_URL: http://microservice:5002/evaluate 
      # PORT: 5001
      NODE_ENV: development
      # OPENROUTER_API_KEY: ${OPENROUTER_API_KEY:-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}
      # OPENROUTER_MODEL: ${OPENROUTER_MODEL:-qwen/qwen3-4b:free}
      OPENROUTER_API_KEY: 
      OPENROUTER_MODEL: x-ai/grok-4.1-fast:free
    depends_on:
      db:
        condition: service_healthy
      microservice: 
        condition: service_started
    volumes:
        - ./backend:/usr/src/app
        - /usr/src/app/node_modules 
        - ./db/data:/usr/src/app/db/data
        - ./test:/usr/src/test:ro
    command: npm start 

  microservice:
    build:
      context: ./microservice
      dockerfile: Dockerfile
    ports:
      - "5002:5002"
    environment:
      FLASK_ENV: development
    volumes:
       - ./microservice:/app
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:5002/health"]
    #   interval: 10s
    #   timeout: 5s
    #   retries: 5

  db:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydatabase"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
