version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: dacn_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mljudge
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mljudge"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: dacn_backend
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/mljudge
      DB_HOST: db
      DB_USER: user
      DB_PASS: password
      DB_NAME: mljudge
      JWT_SECRET: your_secret_key_change_this
      DATA_ROOT: /db/data
      EVALUATION_SERVICE_URL: http://microservice:5002/evaluate
      NODE_ENV: production
      PORT: 5001
      OPENROUTER_API_KEY: ${OPENROUTER_API_KEY}
      OPENROUTER_MODEL: ${OPENROUTER_MODEL:-arcee-ai/trinity-mini:free}
      BOT_URL : ${BOT_URL:-https://openrouter.ai/api/v1/chat/completions}
      HINT_SYSTEM_PROMPT: ${HINT_SYSTEM_PROMPT:-You are a helpful AI assistant specialized in Data Science.}
    volumes:
      - ./db/data:/db/data
    ports:
      - "5000:5001"
    depends_on:
      db:
        condition: service_healthy
      microservice:
        condition: service_started
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: dacn_frontend
    environment:
      NODE_ENV: production
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network

  microservice:
    build: ./microservice
    container_name: dacn_microservice
    environment:
      PYTHONUNBUFFERED: 1
      PORT: 5002
    volumes:
      - ./db/data:/db/data
    ports:
      - "5002:5002"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: